__pycache__/
*.pyc
.DS_Store
.venv/
venv/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/splits/*
!data/splits/.gitkeep

artifacts/*
!artifacts/.gitkeep
reports/*
!reports/.gitkeep
